<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <header>
            <h6>Ingreso en: {% now "jS F Y H:i" %}</h6>
        </header>
        <h1 style="margin: 50px 50px 50px 50px;">Bienvenido {{ request.user.first_name }}</h1>
        
        <div style="margin: 25px 25px 25px 25px; width: 70%">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et purus id augue mattis elementum. Suspendisse ipsum nulla, imperdiet vitae metus ac, aliquet malesuada ante. Ut molestie ornare mi et consequat. Nullam venenatis, elit quis venenatis pretium, dolor ligula feugiat nisi, vitae luctus nisi eros at sem. Quisque diam erat, varius ac nunc at, mattis auctor odio. Phasellus rutrum tellus sit amet tellus posuere, id ultrices nisl vulputate. Nam molestie posuere eleifend. Donec vestibulum nunc ut malesuada sagittis. Maecenas tempus diam eu semper laoreet.
            </p>
            <p>
                Sed blandit neque diam, quis malesuada tellus lacinia non. Phasellus ante augue, semper vel sollicitudin ut, congue ac turpis. Cras fermentum ligula sit amet faucibus hendrerit. Morbi ac metus aliquam, consectetur justo vel, cursus ante. Aenean sodales velit velit, a viverra nisl ultricies ac. Sed urna dui, feugiat eget sem sit amet, lobortis mollis neque. Mauris ullamcorper ipsum et felis venenatis, at suscipit risus pellentesque. Vestibulum ultrices mauris ac diam interdum euismod. Suspendisse potenti. Ut sollicitudin id massa vitae posuere. Nunc vel tristique ligula. Aenean egestas vel ligula sit amet pulvinar. Morbi metus nisi, venenatis sed purus non, euismod pulvinar tellus. Pellentesque at massa eget enim lacinia porttitor.
            </p>
            <p>
                In bibendum eu lectus bibendum dignissim. Praesent tempus malesuada leo et dapibus. In nibh libero, lacinia sed imperdiet ac, blandit et quam. Suspendisse vel purus vitae ipsum finibus pellentesque. In hac habitasse platea dictumst. Ut ut volutpat augue, vel auctor felis. Curabitur eget imperdiet nisl. Maecenas dui dui, vehicula eu vestibulum quis, iaculis eu neque. Ut ullamcorper, ipsum et eleifend condimentum, nisi ligula vestibulum nibh, quis fermentum erat mi at nisl. Morbi aliquet at sapien nec interdum. Nam nibh est, luctus et sem a, aliquet porta mauris. Sed mi leo, elementum id rhoncus in, auctor vitae nunc.
            </p>
            <p>
                Phasellus semper nulla risus, et luctus massa rutrum in. Phasellus semper non nunc a consectetur. Integer nec magna gravida, cursus nibh et, aliquet lorem. Etiam tincidunt erat augue, eget facilisis dui porttitor eget. Proin volutpat varius auctor. In consectetur libero at condimentum laoreet. In tempor, dui ut convallis elementum, nunc mi posuere nulla, id gravida est velit dignissim dolor. Nulla facilisi. Mauris sapien eros, viverra eu maximus vel, mattis a leo.
            </p>
            <p>            
                Maecenas diam tortor, molestie non commodo non, pharetra et nulla. Ut suscipit sem id sapien facilisis mollis. Suspendisse potenti. Phasellus mi tellus, condimentum vel nunc sed, bibendum interdum lorem. Nullam in blandit est. Praesent posuere risus nec odio vulputate, at euismod diam egestas. Fusce odio justo, ultrices vel efficitur vitae, consectetur eget massa. Aenean suscipit pharetra fermentum. Nunc rutrum faucibus fermentum. Mauris et nisi facilisis, finibus ligula blandit, pellentesque nunc. Curabitur sollicitudin interdum eros id rhoncus. Suspendisse vel lectus dictum turpis pellentesque tristique sed ac sem. Praesent rutrum pretium varius.
            </p> 
        </div>
    </body>
</html>
